@import '../../assets/main/main.scss';

.contentRoundRock {
  background-image: url(../../assets/img/roundRock.png);
  height: 100vh;
  width: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentHomeRoundRock {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
  flex-direction: column;
  gap: 20px;
}

.titleContentRoundRock {
  display: flex;
  gap: 14px;
  padding-bottom: 80px;
}

.contentTextHome {
  display: flex;
  flex-direction: column;
}

.subtitleRoundRock {
  color: $white;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 104.5%;
  letter-spacing: 22.4px;
  text-transform: uppercase;
  margin: 0;
}

.textRoundRock {
  color: $white;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 104.5%;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.textParagraphRound {
  color: $white;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.textTitleRoundRock {
  color: $white;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 118.5%;
  padding: 0;
  margin: 0;
}
.contentParagraphRound {
  width: 520px;
}

.buttonHelpMe {
  color: $white;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  border: 1px solid $white;
}

.contentCardsServices {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  width: 520px;
}

.contentCardsServicesWork {
  display: flex;
  justify-content: center;
  gap: 80px;
  width: 520px;
}

.cardService {
  border: 2px solid $white;
  width: 72.125px;
  height: 72.125px;
  transform: rotate(-45deg);
  flex-shrink: 0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardService1 {
  border: 2px solid $white;
  width: 100px;
  height: 100px;
  transform: rotate(-45deg);
  flex-shrink: 0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentButtonHelpMe {
  padding-top: 40px;
}

.contentWorkService {
  background-color: $blue;
  height: 100vh;
  width: 100%;
  display: flex;
}

.contentCardWhiteWork {
  background-color: $white;
  width: 950px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.contentPerson {
  border: 2px solid $white;
  height: 50px;
  align-items: center;
  height: 510px;
  width: 559px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.contentWork {
  border: 2px solid $white;
  background-color: $blue;
  height: 50px;
  width: 200px;
  height: 510px;
  width: 700px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  object-fit: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}

.contentPersonWork {
  display: flex;
  align-items: center;
}

.textWork {
  color: #19435a;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  width: 520px;
}

.textCheck {
  color: $white;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.contentService {
  background-color: $blue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 390px;
  width: 100%;
  gap: 40px;
}

.serviceText {
  color: $white;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.contentServiceText {
  height: 204px;
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
}

.cardTextService {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titleService {
  color: $blue;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

.subtitleService {
  color: #19435a;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.sectionService {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 40px;
}

.sectionTestymonials {
  background-color: $blue;
  height: 718px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.contentCardsTestymonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1000px;
  gap: 20px;
}

.imageWrench {
  width: 39px;
  transform: rotate(40deg);
}

@media (max-width: 1270px) {
  .contentPerson {
    width: 400px;
  }
  .imagePerson {
    width: 400px;
    height: 510px;
  }
}

@media (max-width: 1106px) {
  .contentPerson {
    display: none;
  }
  .contentWork {
    width: 100%;
    border-radius: 40px;
  }
  .contentWorkService {
    background-color: $white;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 960px) {
  .contentServiceText {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 350px;
    gap: 20px;
  }
}

@media (max-width: 1021px) {
  .contentCardsTestymonials {
    display: grid;
    grid-template-columns: 1fr;
  }
  .sectionTestymonials {
    height: 100%;
    padding: 10px;
  }
}

@media (max-width: 698px) {
  .contentService {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sectionService {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentCardsServicesWork {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 0px;
  }

  .contentCardsServices {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 620px) {
  .contentHomeRoundRock {
    padding: 0;
  }
  .textTitleRoundRock {
    font-size: 32px;
  }

  .textParagraphRound {
    font-size: 12px;
    width: 100%;
  }
  .contentRoundRock {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contentParagraphRound {
    width: 300px;
  }
}

@media (max-width: 550px) {
  .textWork {
    font-size: 12px;
    width: 300px;
    margin: 0;
  }
}

@media (max-width: 522px) {
  .textParagraphRound {
    width: 100%;
  }
  .contentWork {
    width: 100%;
  }
}

@media (max-width: 440px) {
  .titleContentRoundRock {
    gap: 8px;
    flex-direction: column;
    padding-bottom: none;
    align-items: center;
    justify-content: center;
  }

  .imagePlumbers {
    width: 100px;
  }

  .contentCardsServices {
    width: 100px;
    gap: 40px;
  }

  .contentHomeRoundRock {
    width: 100%;
  }

  .contentParagraphRound {
    width: 300px;
  }
}
