@import '../../assets/main/main.scss';

.contentPrimary {
  background-image: url(../../assets/img/roundRock.png);
  height: 100vh;
  width: 100%;
  background-size: cover;
}

.contentHome {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
  flex-direction: column;
  gap: 20px;
}

.titleContent {
  display: flex;
  gap: 14px;
}

.textHome {
  display: flex;
  flex-direction: column;
}

.text0 {
  color: #fff;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 104.5%;
  letter-spacing: 22.4px;
  text-transform: uppercase;
  margin: 0;
}

.text1 {
  color: #fff;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 104.5%; /* 50.16px */
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.text2 {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 157.143% */
}

.text3 {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 118.5%; /* 56.88px */
}
.contentText2 {
  width: 520px;
}

.buttonContentPrimary {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 122.222% */
  border: 1px solid white;
}

.contentCards {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  width: 520px;
}

.cardContent {
  border: 1px solid white;
  width: 72.125px;
  height: 72.125px;
  transform: rotate(-45deg);
  flex-shrink: 0;
  border-radius: 8px;
}

.contentButtonPrimary {
  padding-top: 40px;
}

.contentSecondaryService {
  background-color: $blue;
  height: 100vh;
  width: 100%;
  display: flex;
}

.contentWhite {
  background-color: white;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.contentWork {
  border: 2px solid white;
  height: 50px;
  width: 200px;
  align-items: center;
  height: 510px;
  width: 559px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.contentWork1 {
  border: 2px solid white;
  background-color: $blue;
  height: 50px;
  width: 200px;
  height: 510px;
  width: 700px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  object-fit: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}

.contentPhotoWork {
  display: flex;
  align-items: center;
}

.textWork {
  color: #19435a;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  width: 520px;
}

.textCheck1 {
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 157.143% */
}

.contentService {
  background-color: $blue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 390px;
  width: 100%;
}

.serviceText {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.serviceText2 {
  height: 284px;
  display: flex;
  gap: 80px;
  justify-content: center;
}

.CardTextService {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textLorem {
  color: $blue;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 122.222% */
}

.subTextLorem {
  color: #19435a;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}
.sectionService {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.testymonials {
}
